*{
    margin: 0;
    padding-top: 3%;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: whitesmoke;
    text-align: center;
}
html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}
#parent{
    padding-left: 3%;
}

.card{
  background-color: crimson;
  border-radius: 10%;
  margin: 50px;
  padding: 50px;
  color:brown;
}