.btn{
    background-color: bisque;
    color: black;
    width: fit-content;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

h1{
    color: aliceblue;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:brown ;
}